Django>=1.6.1,<1.7
django-celery==3.1.1
celery==3.1.1
gunicorn>=18.0,<19.0
south>=0.8.4,<0.9
GitPython==0.3.2.RC1
watchdog>=0.7.0,<0.8.0
PyYAML>=3.10,<3.11
docker-py>=0.2.3,<0.3.0
crochet>=1.0.0,<1.1.0
django-uuidfield
