DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'stretch',
        'USER': 'django',
        'PASSWORD': 'djangopass',
        'HOST': 'localhost',
        'PORT': '',
    }
}

SOURCES = {
    'stretch.sources.GitRepositorySource': {
        'url': 'github.com/user/myrepo.git',
    },
    'stretch.sources.FileSystemSource': {
        'path': '/etc/app/src',
        'autoload': True,
        'restart_services': True,
    },
}

SALT_CONF_PATH = '/etc/salt'
SALT_MASTER = 'salt.example.com'

BACKEND = {
    'stretch.backends.RackspaceBackend': {
        'username': 'johndoe',
        'api_key': '1234567890abcdef',
        'domainname': 'example.com',
        'region': 'DFW',
    }
}

DOMAIN_NAME = 'example.com'
